plantuml-gen/dsl/b2c/_component_Transf Mat A297-A298.puml
plantuml-gen/dsl/b2c/_container_SAP.puml
plantuml-gen/dsl/b2c/_container_WMS.puml
plantuml-gen/dsl/b2c/_systemContext_WMS.puml
plantuml-gen/dsl/b2c/_systemLandscape_.puml
plantuml-gen/dsl/b2c/_workspace.enc
plantuml-gen/dsl/entrada material/_component_Estoque WMS.puml
plantuml-gen/dsl/entrada material/_component_Inventário WMS.puml
plantuml-gen/dsl/entrada material/_container_SAP.puml
plantuml-gen/dsl/entrada material/_container_WMS.puml
plantuml-gen/dsl/entrada material/_systemContext_WMS.puml
plantuml-gen/dsl/entrada material/_systemLandscape_.puml
plantuml-gen/dsl/entrada material/_workspace.enc
